* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.about-us .about {
    flex-basis: 40%;
}

.about-us .about-image {
    flex-basis: 40%;
}

.about-us .about h1 {
    font-size: 45px;
    color: darkolivegreen;
    letter-spacing: 1px;
}

.about-us .about p {
    font-size: 15px;
}

.about-us .about button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: darkolivegreen;
    cursor: pointer;
}

.about-image {
    width: 400px;
    height: 450px;
    border: 1px solid black;
}

.about-image img {
    position: relative;
    left: -8%;
    top: -5%;
    width: 100%;
    height: 450px;
    margin-top: 40px;

}

/* Media Query */

@media screen and (max-width:640px) {

    .about-us {
        flex-direction: column;
    }

    .about-us .about {
        flex-basis: 100%;
    }

    .about-us .about-image {
        flex-basis: 100%;
    }

    .about-us .about h1 {
        font-size: 30px;
    }

    .about-us .about h3 {
        font-size: 15px;
    }

    .about-us .about p {
        font-size: 13px;
        margin-top: 10px;
    }

    .about-image {
        margin-top: 50px;
        width: 300px;
        height: 170px;
    }

    .about-image img {
        height: 250px;
        width: 100%;
        left: -5%;
    }

}