* {
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;

}

.about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    flex: 1;
}

.about-us .about {
    flex-basis: 40%;
}

.about-us .about-image {
    flex-basis: 40%;
}

.about-us .about h1 {
    font-size: 45px;
    color: darkolivegreen;
    letter-spacing: 1px;
}

.about-us .about p {
    font-size: 15px;
}

.about-us .about button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: darkolivegreen;
    cursor: pointer;
}

.about-us .about button:hover {
    background-color: black;
    color: white;
}

.about-image img {
    width: 100%;
    height: 450px;
}

/* Media Query */

@media screen and (max-width:750px) {

    .about-us {
        flex-direction: row;
    }

    .about-us .about {
        flex-basis: 100%;
    }

    .about-us .about-image {
        flex-basis: 100%;
    }

    .about-us .about h1 {
        font-size: 30px;
    }

    .about-us .about h3 {
        font-size: 15px;
    }

    .about-us .about p {
        font-size: 13px;
        margin-top: 10px;
    }

    .about-image img {
        margin-top: 50px;
        height: 250px;
        width: 100%;
    }

}