* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.booking-container {
  flex: 1;
}

.book-table h1 {
  font: 40px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
  color: darkolivegreen;
}

.book-table p {
  text-align: center;
}

form {
  padding: 10px 30px;
  margin-top: 20px;
}

form .book-tables {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

form .book-tables span {
  flex-basis: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .book-tables span label {
  color: darkolivegreen;
}

form .book-tables span input {
  width: 90%;
  padding: 10px;
  border: 1px solid darkolivegreen;
  margin-top: 10px;
  margin-bottom: 10px;
}

form .book-tables span input:focus {
  outline: none;
}

form .book-tables span #acType {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid darkolivegreen;
  outline: none;
}

form .book-request {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-left: 30px;
}

form .book-request label {
  color: darkolivegreen;
  margin-top: 5px;
}

form .book-request textarea {
  width: 98%;
  height: 100px;
  border: 1px solid darkolivegreen;
  margin-top: 5px;
  resize: none;
}

form .book-request textarea:focus {
  outline: none;
}

form .book-request button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: darkolivegreen;
  color: white;
  margin-top: 10px;
  width: 15%;
  position: relative;
  left: 43%;
  cursor: pointer;
}

.overlay-booking {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.booking {
  background-color: darkolivegreen;
  color: white;
  padding: 30px;
  width: 30%;
  border-radius: 20px;
  z-index: 4;
}

.booking p {
  text-align: center;
}

/* Media Query */

@media screen and (max-width: 750px) {

  .book-table h1 {
    font-size: 20px;
  }

  .book-table p {
    font-size: 10px;
  }

  form .book-tables {
    flex-direction: column;
  }

  form .book-tables span,
  t {
    width: 100%;
  }

  form .book-tables span,
  form .book-request label {
    font-size: 10px;
  }

  form .book-tables span input {
    width: 93%;
  }

  form .book-request {
    width: 100%;
    margin-left: 0;
  }

  form .book-request textarea {
    width: 100%;
  }

  form .book-request button {
    width: 30%;
    left: 70%;
    font-size: 11px;
  }

  .booking {
    font-size: 13px;
  }
}