* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.contact .get-in-touch {
  padding: 20px;
  flex-basis: 40%;
}

.contact .get-in-touch h1 {
  text-decoration: underline;
  letter-spacing: 1px;
  color: darkolivegreen;
}

.contact .get-in-touch p {
  margin-top: 5px;
}

.contact .get-in-touch form {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.contact .get-in-touch form label {
  color: darkolivegreen;
  margin-top: 5px;
}

.contact .get-in-touch form input {
  padding: 10px;
  border: 1px solid darkolivegreen;
}

.contact .get-in-touch form input:focus {
  outline: none;
}

.contact .get-in-touch form textarea {
  margin-top: 5px;
  height: 50px;
  padding: 10px;
  border: 1px solid darkolivegreen;
  resize: none;
}

.contact .get-in-touch form textarea:focus {
  outline: none;
}

.contact .get-in-touch form button {
  padding: 10px 20px;
  width: 30%;
  border: none;
  background-color: darkolivegreen;
  color: white;
  margin-top: 20px;
  position: relative;
  left: 73%;
  border-radius: 10px;
  cursor: pointer;
}

.contact .get-in-touch form button:hover {
  background-color: black;
  color: white;
}

.contact .find-us {
  padding: 20px;
  flex-basis: 40%;
}

.contact .find-us h1 {
  text-decoration: underline;
  letter-spacing: 1px;
  color: darkolivegreen;
}

.contact .find-us ul {
  padding: 10px;
  margin-top: 5px;
}

.contact .find-us li {
  margin-top: 5px;
}

.contact .find-us img {
  margin-top: 10px;
  width: 100%;
}

.overlay-response {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.response {
  background-color: darkolivegreen;
  color: white;
  padding: 30px;
  border-radius: 20px;
  z-index: 4;
  text-align: center;
}

.response i {
  background-color: lightgreen;
  border-radius: 100%;
  color: white;
  padding: 5px;
  margin-left: 10px;
}

.response button {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: darkolivegreen;
  cursor: pointer;
  margin-top: 30px;
}

.response button:hover {
  background-color: black;
  color: white;
}

/* Media Query */

@media screen and (max-width: 750px) {

  .contact {
    flex-direction: row;
  }

  .contact .get-in-touch {
    flex-basis: 100%;
  }

  .contact .get-in-touch h1 {
    font-size: 20px;
  }

  .contact .get-in-touch p {
    font-size: 10px;
  }

  .contact .get-in-touch form label {
    font-size: 10px;
  }

  .contact .get-in-touch form button {
    left: 70%;
  }

  .contact .find-us {
    flex-basis: 100%;
  }

  .contact .find-us h1 {
    font-size: 20px;
  }

  .contact .find-us li {
    font-size: 10px;
  }

  .response {
    width: 50%;
    font-size: 13px;
  }
}