* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.whole-container {
    flex: 1;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.intro .food-intro {
    padding: 10px;
    flex-basis: 40%;
    flex-wrap: wrap;
    z-index: 1;
}

.intro .food-intro h2 {
    color: darkolivegreen;

}

.intro .food-intro p {
    margin-top: 10px;
}

.intro .intro-img {
    flex-basis: 40%;
}

.intro img {
    width: 100%;
    height: 450px;
    border-radius: 100%;
    margin-top: 20px;
}

.food-container h1 {
    margin-top: 80px;
    text-align: center;
}

.main-coarse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-coarse .main-coarse-items {
    flex-basis: 25%;
    text-align: center;
}

.main-coarse .main-coarse-items img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-top: 50px;
}

.main-coarse .main-coarse-items h3 {
    margin-top: 10px;
}

.main-coarse .main-coarse-items i {
    margin-left: 10px;
}

.main-coarse .main-coarse-items button {
    background-color: darkolivegreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.main-coarse a button {
    background-color: darkolivegreen;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-coarse button:hover {
    background-color: black;
    color: white;
}


/* Media Query */

@media screen and (max-width:750px) {

    .intro {
        flex-direction: row;
    }

    .intro .food-intro,
    .intro .intro-img {
        flex-basis: 100%;
    }

    .intro .food-intro {
        margin-top: 20px;
    }

    .intro .food-intro h2 {
        font-size: 22px;
    }

    .intro .food-intro p {
        font-size: 14px;
    }

    .intro img {
        width: 90%;
        height: 300px;
        margin-left: 15px;
    }

    .food-container h1 {
        margin-left: 7%;
        margin-top: 15%;
    }

    .main-coarse {
        flex-direction: column;
    }

    .main-coarse .main-coarse-items {
        flex-basis: 100%;
    }

    .main-coarse a button {
        margin-top: 50px;
    }

}